/* PC,スマホ共通スタイル */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo",
    "MS Ｐゴシック", "MS PGothic", Sans-Serif;
  max-width: 1340px;
  min-width: 960px;
  margin: 0 auto;
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  display: block;
  height: auto;
}

img {
  display: block;
}

p {
  font-size: 15px;
  line-height: 1.8rem;
  margin: 15px;
}
section {
  margin-top: 100px;
  width: 100%;
}
.section-logo {
  width: 20%;
  padding: 20px;
}
h1 {
  font-size: 24px;
  line-height: 3rem;
  font-weight: 550;
  margin-bottom: 30px;
}
h3 {
  font-size: 22px;
  line-height: 2rem;
  font-weight: 400;
}
h2 {
  font-size: 22px;
  padding: 20px;
}
h5 {
  width: 20%;
  margin: 20px;
  padding: 20px;
}
h6 {
  font-family: "YuMincho";
  font-size: 18px;
  line-height: 2rem;
  font-weight: 400;
  margin: 15px;
}
hr {
  color: #ccc;
}
/* ----------------------
  ヘッダー
   ---------------------- */
header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
header::after {
  content: "";
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #262627;
  position: absolute;
  bottom: 0px;
}
.top-logo img {
  width: 50%;
}
#nav-pc img {
  width: 30%;
}
#nav-pc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  margin-top: 40px;
  background-color: #3d7550;
  width: 630px;
  height: 70px;
  padding-left: 20px;
}
#nav-pc a {
  color: #fff;
  width: 100px;
  text-align-last: center;
}
#nav-pc > a:hover {
  color: #888484;
  text-decoration: underline;
}
#nav-pc > a:active {
  color: #0d0d0d;
}
#main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 30px;
}
/* .main-massage {
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 50px;
} */

.swiper {
  /* position: absolute;
  z-index: 0; */
  position: relative;
  width: 95%;
  height: 600px;
  animation: slide 3s infinite;
}
.slide {
  position: absolute;
  z-index: 0;
}
h2 .slide-title::after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
}
/* スマホ用ナビを非表示 */
.header__inner {
  display: none;
}
/* ----------------------
  アバウト
  ---------------------- */
#about {
  width: 100%;
  margin-top: -110px;
}
.about-top-wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #f7f5e9;
  height: 110vh;
  margin-top: -100px;
}
.about-end {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
  height: 100vh;
}
.about-top-left {
  width: 40%;
  margin-top: 110px;
}
.about-top-right {
  width: 30%;
  margin-top: 160px;
}
.about-top-right img {
  width: 100%;
}
.about-end-left1 {
  position: relative;
  z-index: 0;
}
.about-end-left1 img {
  width: 50%;
}
.about-end-left2 {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 130px;
}
.about-end-left2 img {
  width: 100%;
}
.about-end-right {
  margin-top: 180px;
}
/* ----------------------
  プロダクト
  ---------------------- */
#product {
  padding: 20px;
  position: relative;
  z-index: 0;
}
.product-top {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.product-top::after {
  position: absolute;
  content: "";
  background-color: #f7f5e9;
  z-index: -1;
  width: 100%;
  height: 90vh;
  margin-top: -100px;
}

.product-top-right img {
  width: 60%;
  margin: 0 auto;
}

.product-beauty,
.product-food,
.product-fashion {
  margin-top: 100px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.product-beauty-inner,
.product-food-inner {
  display: flex;
  align-items: center;
  padding: 30px;
}
.product-fashion-inner {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 30px;
}
.product-beauty-inner img {
  width: 36%;
}
.product-fashion-inner img {
  width: 30%;
}
.online {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 100px;
}
.online-btn {
  transition: 0.5s;
}
.online-btn:hover {
  transform: scale(1.2, 1.2);
}
/* ----------------------
  ニュース
  ---------------------- */
#news {
  background-color: #f7f5e9;
  height: 100vh;
  padding: 100px 15px 0px 15px;
}
.news-text {
  display: flex;
  gap: 20px;
}
.news-text-left,
.news-text-right {
  width: 50%;
}
.news-text-left-inner,
.news-text-right-inner {
  padding: 20px;
  border: #262627;
  border-style: solid;
  height: 250px;
}
h4 {
  background-color: #262627;
  border-radius: 10px;
  color: #fff;
  width: 30%;
  text-align: center;
  padding: 15px;
  margin-bottom: -20px;
}
li {
  font-size: 15px;
  line-height: 1.8rem;
  padding: 15px;
}
/* ----------------------
  コンタクト
  ---------------------- */
.contact-text {
  text-align: center;
  margin-top: 80px;
}
.contact-btn {
  width: 50%;
  height: 100px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size: 18px;
}
.contact-btn:hover {
  color: #fff;
  background: #000;
}
.contact-photo {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
  height: 70vh;
  gap: 100px;
}
.contact-photo-top {
  position: relative;
  width: 50%;
}
.contact-photo-top1 {
  position: absolute;
  top: 30px;
  left: 220px;
  z-index: 0;
}
.contact-photo-top2 {
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 80px;
}
.contact-photo-top3 {
  width: 50%;
  margin-top: 200px;
}
.contact-photo-top1 img,
.contact-photo-top2 img {
  width: 70%;
}
.contact-photo-top3 img {
  width: 50%;
}
.contact-photo-end {
  text-align: center;
}
.contact-photo-end img {
  width: 70%;
  margin: 20px auto;
}
/* ----------------------
  会社概要
  ---------------------- */
#company {
  background-color: #f7f5e9;
  padding: 20px;
  margin-top: 0px;
}
.company-logo {
  margin-top: 100px;
}
.company-logo img {
  width: 20%;
}

/* ----------------------
  ページトップ
  ---------------------- */
.page-top {
  width: 100%;
}
.page-top img {
  margin: 0 auto;

  padding: 20px;
}
/* ----------------------
  フッター
  ---------------------- */

footer {
  background-color: #3d7550;
  color: #fff;
  text-align: center;
}
.footer-link {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-link a {
  color: #fff;
  padding: 20px;
}

.footer-link a:hover {
  color: #888484;
  text-decoration: underline;
}
.footer-link a:active {
  color: #0d0d0d;
}
#copyright {
  padding: 20px;
}
/*--------------------------------
 お問い合わせ　下層
---------------------------------*/

/* 外枠 */
#contact > form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
/* 左列の見出し */
.contact-heading {
  width: 240px;
  align-self: center;
}
/* 見出しのラベル */
.contact-label {
  font-weight: bold;
}
/* テキストボックス */
.contact-textbox {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fff;
  width: 400px;
  height: 70px;
}

/* お問い合わせ内容のテキストエリア */
.contact-textarea {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fff;
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
}
input:focus,
textarea:focus {
  background-color: #fafafa;
  outline: none;
}
/* 個人情報の取り扱い */
details {
  width: 700px;
}
details > div {
  background-color: #fafafa;
  padding: 20px;
}
details > div > span {
  font-weight: bold;
}
.contact-btn_send {
  width: 100px;
  height: 50px;
  margin: 50px auto;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  background: #fff;
  font-size: 18px;
}

.contact-btn_send:hover {
  color: #fff;
  background: #000;
}

/* ----------------------
  SHOP
   ---------------------- */
.sidebar {
  width: 30%;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  height: 100%;
}
.section_subtitle {
  padding: 15px;
}
.sidebar_categories li {
  list-style: none;
}
.sidebar_categories li a {
  color: #000;
}
.sidebar_categories li a:hover {
  color: #3d7550;
}
.item {
  width: 100%;
  display: flex;
}

.items-container {
  display: flex;
  flex-direction: column;
  width: 85%;
}
#item-top,
#item-center,
#item-end {
  padding: 20px;
  margin-bottom: 60px;
}
#item-top,
#item-end {
  background-color: #f7f5e9;
}
.item img {
  width: 80%;
  margin: 0 auto;
}
.item h5 img {
  width: 120%;
}
.beauty-wrapper,
.food-wrapper,
.fashion-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.item-beauty,
.item-food,
.item-fashion {
  text-align: center;
}
.item-beauty h6,
.item-food h6,
.item-fashion h6 {
  height: 70px;
}
.item-beauty img,
.item-food img,
.item-fashion img {
  height: auto;
}
.item-ex {
  height: 170px;
}
.shop-btn {
  background-color: #262627;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 15px;
}
.shop-btn:hover {
  background-color: #3d7550;
}
/* ----------------------
  form
   ---------------------- */

form,
figure,
dl {
  display: grid;
  justify-content: center;
}

/* ----------------------
  ACF
   ---------------------- */
/* 
.product-information {
  display: block;
  margin-top: 100px;
}

.product-img {
  width: 300px;
  height: 200px;
  text-align: center;
  margin: 0 auto 30px auto;
}

.item-group {
  display: flex;
  height: auto;
}

.item {
  width: 218px;
  height: auto;
  border: 0.5px solid #1b224c;
  margin-right: 7px;
}

.item:nth-of-type(4) {
  margin-right: 0;
}

.title {
  width: 218px;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  margin-right: 7px;
  background-color: gray;
  color: #ffffff;
  text-align: center;
}

.text {
  text-align: center;
  margin: 10px 0;
}

.contents {
  font-size: 25px;
  font-weight: bold;
} */
/* ----------------------
  スマホスタイル
   ---------------------- */
@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
    margin: 0;
    /* overflow: hidden; */
  }

  header {
    width: 90%;
    margin: 0 auto;
  }
  h1 {
    font-size: 20px;
    font-weight: 800;
  }
  #main-visual {
    height: 40vh;
  }
  .main-massage {
    position: absolute;
    top: 30px;
    left: 20px;
  }
  .main-massage img {
    width: 50%;
  }

  .single-item img {
    width: 100%;
  }

  .about-top-wrap {
    display: block;
    text-align: center;
    padding-top: 80px;
    height: auto;
  }
  .about-top-left,
  .about-top-right {
    width: 80%;
    margin: 15px auto;
  }
  .about-top-left img {
    width: 80%;
    margin: 0 auto;
  }
  .about-end {
    display: block;
  }
  .about-end-right {
    margin-top: 450px;
  }
  .about-end-right img {
    width: 80%;
    margin: 0 auto;
  }
  .about-end-left2 {
    padding-right: 15px;
  }

  #product {
    margin-top: 300px;
  }
  .product-top-left img {
    margin: 0 auto;
  }
  .product-top::after {
    width: 90%;
    height: 105vh;
  }
  .product-center::after {
    top: 72%;
    width: 90%;
    height: 80px;
  }
  .product-top,
  .product-center,
  .product-end {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-end {
    gap: 0px;
  }
  .product-top-left,
  .product-top-right,
  .product-center-left,
  .product-center-center,
  .product-center-right,
  .product-end-left,
  .product-end-right {
    width: 100%;
  }
  .news-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  #news {
    height: 130vh;
  }
  .news-text-left,
  .news-text-right {
    width: 100%;
  }
  .news-text-left-inner,
  .news-text-right-inner {
    height: auto;
  }
  #contact {
    margin-top: 50px;
  }
  .contact-text {
    width: 90%;
    margin: 0 auto;
  }
  .contact-btn {
    width: 90%;
  }
  .contact-photo {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .contact-photo-top1,
  .contact-photo-top2,
  .contact-photo-top3 {
    width: 100%;
  }
  .contact-photo-top1 img,
  .contact-photo-top2 img {
    width: 100%;
  }
  .contact-photo-top3 {
    margin-top: 50px;
  }
  .contact-photo-end {
    width: 90%;
    margin: 0 auto;
  }
  footer {
    height: 75vh;
  }
  .footer-link {
    display: block;
    gap: 0px;
  }
  /* ---------------
  shop html
----------------- */
  .beauty-wrapper,
  .food-wrapper,
  .fashion-wrapper {
    display: block;
  }
  .item {
    display: block;
  }
  .item-beauty,
  .item-food,
  .item-fashion {
    width: 100%;
    padding: 25px;
  }
  .item h5 img {
    width: 200%;
    padding: 10px;
  }
  .company-logo {
    width: 200%;
  }
  #nav-pc {
    display: none;
  }
  .sidebar {
    width: 90%;
    margin: auto;
  }
  .items-container {
    width: 90%;
    margin: auto;
  }
  /* スマホ　ハンバーガーメニュー */
  /* スマホ用ナビを非表示 */
  .header__inner {
    display: block;
  }
  .hamburger {
    display: block;
    height: 60px;
    margin-left: auto;
    position: relative;
    z-index: 10;
    width: 60px;
    border: none;
    background-color: transparent;
  }
  .hamburger.-active .hamburger__line {
    background-color: transparent;
  }
  .hamburger.-active .hamburger__line::before {
    top: 0;
    transform: rotate(45deg);
  }
  .hamburger.-active .hamburger__line::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .hamburger__line {
    display: block;
    height: 2px;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    background-color: #1b1b1b;
    transition: 0.4s;
  }
  .hamburger__line:before,
  .hamburger__line:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #1b1b1b;
    transition: inherit;
  }
  .hamburger__line:before {
    top: -6px;
  }
  .hamburger__line:after {
    top: 6px;
  }
  .hamburger__text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .header__nav-area {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 9;
    height: 100vh;
    width: 400px;
    visibility: hidden;
    padding-top: 60px;
    background-color: #fff;
    transition: 0.4s;
  }
  .header__nav-area.-active {
    left: 0;
    visibility: visible;
  }
  .global-navigation {
    padding: 40px 25px 120px 25px;
  }
  .global-navigation__list > li {
    padding-bottom: 20px;
    border-bottom: 2px solid #e7e9ee;
  }
  .global-navigation__list > li + li {
    margin-top: 20px;
  }
  .global-navigation__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1b1b1b;
    transition: color 0.4s;
    font-size: 18px;
    padding: 10px;
  }
  .global-navigation__link:hover {
    color: #707070;
  }
  .global-navigation__link.-accordion {
    position: relative;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0;
  }
  .global-navigation__link.-accordion::after {
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 1.5px;
    background-color: #1b1b1b;
    transform: translateY(-50%);
    transition: transform 0.4s;
  }
  .global-navigation__link.-accordion::before {
    content: "";
    display: block;
    height: 1.5px;
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    background-color: #1b1b1b;
    transform: translateY(-50%);
  }
  .global-navigation__link.-active::after {
    transform: translateY(-50%) rotate(-90deg);
  }
  .accordion {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.4s;
  }
  .accordion.-active {
    height: auto;
    padding-top: 30px;
    visibility: visible;
  }
  .accordion__list li {
    font-size: 16px;
  }
  .accordion__list li + li {
    margin-top: 21px;
  }
  .accordion__link {
    color: #1b1b1b;
    padding: 5px;
  }
  .accordion__link:hover {
    color: #707070;
  }
  /* ここまでハンバーガー */
}
